@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.gameContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    max-width: 1300px;
    margin: 0 35px;
}

@media (min-width: 1350px) {
    .gameContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }

.game {
 display: flex;
 flex-direction: column;
 background-color: #202020;
 border-radius: 15px;
 width: 100%;
 position: relative;
 overflow: hidden;

}

.game img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.addCartPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #999999;
  font-weight: 400;
  padding: 0 10px;
}

.platforms {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fdfdfd;
    padding: 0 10px;
}

.gameName {
    font-size: 1.5rem;
    color: #fdfdfd;
    margin-top: 10px;
    padding: 0 10px;
}

.gamesTitle {
    font-family: "Roboto", sans-serif;
    color: #fdfdfd;
    font-size: 4rem;
    margin: 0 35px;
}