@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #0f1010;
  margin: 0;
  padding: 0;
}


.rootContainer {
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
}
